body {
  margin: 0;
  padding: 5px;
}

h2 {
  margin-bottom: 30px;
}

h4 {
  margin-bottom: 10px;
}

p {
  margin: 8px auto auto 10px;

}

.comment-box {
  border: black 1px solid;
  border-radius: 3px;
  padding: 0 10px 10px 10px;
  width: 50%;
}

.comment {
  margin: 0 0 20px 15px;
}

.comment-form {
  padding: 0 10px 10px 10px;
}